oid_section = OIDs
[OIDs]
certificateTemplateName=1.3.6.1.4.1.1311.20.2

[req]
default_bits = 2048
emailAddress = email@email.com
req_extensions = v3_req
x509_extensions = v3_ca
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
CN=MNG-886431145-399999999900003
OU=Riyadh Branch
O=Maximum Speed Tech Supply LTD
C=SA

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment

[req_ext]
certificateTemplateName = ASN1:PRINTABLESTRING:TSTZATCA-Code-Signing
subjectAltName = dirName:alt_names

[alt_names]
SN=1-MNG|2-MNG|3-ed22f1d8-e6a2-1118-9b58-d9a8f11e445f
UID=399999999900003
title=1100
registeredAddress=RRRD2929
businessCategory=Supply activities
